.address {
    margin-top: -5px;
    margin-left: auto;
    text-align: right;
}


.address__phone-link {
    font-size: 26px;
    line-height: 1;
    text-decoration: none;
    color: inherit;
    font-style: normal;
    padding-bottom: 2px;
    transition: .4s;
}

.address__schedule {
    position: absolute;
    right: 0;
    top: 20px;
}

.address__schedule:hover .address__window {
    opacity: 1;
    right: 0;
}

.address__schedule:hover .address__schedule-link {
    color: #D3A557;
}

.address__desc {
    font-size: 11px;
    color: #9a9a9a;
    line-height: 1;
    margin-bottom: 8px;
    font-style: normal;
}

.address__schedule-link {
    font-size: 13px;
    color: inherit;
    font-style: normal;
}

.address__window {
    color: black;
    position: relative;
    background-color: #EDEDED;
    width: 160px;
    padding: 11px 17px 14px;
    border-radius: 4px;
    top: 10px;
    font-style: normal;
    text-align: left;
    font-size: 13px;
    line-height: 1.61em;
    opacity: 0;
    right:-9999px;
    transition: opacity .4s linear;
}

.address__window:after {
    content: '';
    border: transparent 9px solid;
    border-bottom: #EDEDED 9px solid;
    position: absolute;
    top: -18px;
    right: 45px;
}

.address__window-days {
    font-weight: 700;
    margin-bottom: 1px;
}

.address__window-dinner {
    font-weight: 600;
}