.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav-wrapper_common {
    margin-bottom: 102px;
}

.nav-wrapper_testimonials {
    margin-bottom: 91px;
    margin-left: 3px;
}