.news_wrapper {
    margin-bottom: 138px;
}

.news__title {
    font-size: 36px;
    line-height: 1.36em;
    font-weight: bold;
    margin-bottom: 51px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0 0 46px;
}

.news-item {
    display: flex;
    position: relative;
    width: 557px;
    min-height: 394px;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    background-size: cover;
    background-position-x: -15px;
    align-items: flex-end;
}


.news-item__wrapper {
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    min-height: 140px;
    bottom: 0;
}

.news-item__background {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1;
}

.news-item__date {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 12px;
}

.news-item__title {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: 4px;
}

.news-item__excerpt {
    font-size: 16px;
    line-height: 1.31em;
}

.news-item__excerpt p {
    margin: 0;
    padding: 0;
}