.proposals_main-wrapper {
    margin-bottom: 125px;
}

.proposals__title {
    font-size: 36px;
    line-height: 1.36em;
    font-weight: bold;
    margin-bottom: 51px;
}

.proposals__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}