.social-icons_wrapper {
    margin-left: auto;
    margin-right: 74px;
}

.social-icons__link {
    display: block;
    margin: 0;
    padding: 0;
    width:36px;
    height:36px;
    line-height: 36px;
    font-size: 36px;
    background: url("../../img/socials/social_sprites.png");
    transition: filter .4s;
}

.social-icons__link:hover {
    filter: brightness(2);
}

.social-icons__telegram {
    background-position: -122px -10px;
}

.social-icons__vkontakte {
    background-position: -10px -122px;
}


.social-icons__facebook {
    background-position: -10px -10px;
}

.social-icons__instagram {
    background-position: -10px -66px;
}

.social-icons__items {
    list-style-type: none;
    display: flex;
    margin: 0 0 10px;
    padding: 0;
}

.social-icons::after {
    display: block;
    content:'';
    max-width: 74px;
}

.social-icons__item {
    margin-right: 10px;
}

.social-icons__item:last-of-type {
    margin-right: 0;
}