.testimonials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 71px;
}

.testimonials__item {
    width: 557px;
    background-color: #F5F5F5;
    padding: 50px 31px 32px;
    margin-bottom: 17px;
    border-radius: 5px;
}

.testimonials__image-wrapper {
    height: 142px;
    width: 142px;
    margin-right: 22px;
}

.testimonials__name {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.75em;
    color: #2e77a4;
    text-decoration: underline;
    margin-bottom: 3px;
}

.testimonals__socials {
    display: inline-block;
}

.testimonials__social-icon {
    vertical-align: bottom;
}

.testimonials__main-data {
    display: flex;
    margin-bottom: 27px;
}

.testimonials__service {
    display: inline-block;
    background-color: #B9EAE4;
    color: #303030;
    font-size: 13px;
    line-height: 1.36em;
    padding: 10px 25px;
    border-radius: 35px;
    margin-right: 15px;
}

.testimonials__service-wrapper {
    margin-top: 32px;
}

.testimonials__service:last-of-type {
    margin-right: 0;
}

.testimonials__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4em;
    margin-bottom: 13px;
}

.testimonials__text {
    color: #818181;
    font-size: 16px;
    line-height: 1.69;
    margin-bottom: 48px;
}

.testimonials__date {
    font-size: 14px;
    line-height: 1.93em;
    font-weight: 600;
}